html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  padding: 40px 60px;
}

a {
  font-size: 2rem;
  color: #212121;
  letter-spacing: .2rem;
  font-weight:700;
  text-decoration: none;
}

a:hover {
  color: #8c8c8c;
}

/* 
# used for a specific id element
*/
#logo { 
  letter-spacing: .3rem; /* Letter spacing seems vital for good aesthetics */
  font-size: 2rem;
}

#nav_to_pages a {
  margin-left: 2.5rem;
}

nav {
  display: flex;
  /*creates a space between each element evenly*/
  justify-content: space-between;
  /*items are centered in the cross-axis*/
  align-items: center;
}

footer {
  position: fixed;
  left: 50px;
  bottom: 0;
  width: 100%;
  background-color: white;
}

header {
  margin-bottom: 100px;
}

h1, h2, h3 {
  letter-spacing: .2rem;
  margin-bottom: 1.5rem;
  }

h1 {
  font-size: 2.5rem;
  font-weight:700;
  }

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight:700;
 }  

 h3 {
  color: #666666;
}

p {
  letter-spacing: .1rem;
  line-height: 1.6;
}

/* 2 seperate divs so using flex perfectly does that left to right stack. Love putting all text in 1 div so that it wraps well */
.text_and_image_content {
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
}

.intro_text_container {
  width: 175%;
}

main {
  max-width: 1000px;
  margin-left:auto;
  margin-right:auto;
}

img {
  width:100%;
  border-radius: 100%;
}

section { /* Ensures sections are 200px away from eachother */
  margin-bottom: 200px;
}

#project_heading {
  margin-bottom: 80px;
}

.project_sub_heading {
  margin-bottom: 30px;
}

#contact_heading {
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  text-align: left;
  margin-bottom: 30px;
}

#contact_paragraph {
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  max-width: 700px;
  margin-bottom: 40px;
}

form {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

label {
  font-family: 'Roboto', sans-serif;
  display: block;
  font-size:20px;
  text-align: left;
  color: #666666; 
  margin-bottom: 10px;
}

input[type="text"], input[type="email"], textarea {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: left;
}

textarea {
  height: 200px;
  resize: vertical;
  border-radius: 8px;
}

button[type="submit"] {
  background-color: #87CEEB;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  align-self: flex-start;
}

button[type="submit"]:hover {
  background-color: #44626e;
}

#about_me {
  text-align:center;
}

 .social_icon {
  margin-right: 30px;
}
